In [2]:
import pandas as pd
df=pd.read_csv('data.csv')
df.head(3)  # Display the first 3 rows of the DataFrame

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East

In [9]:
df.describe()
df["Sales_o"]=df["Sales"].fillna(df["Sales"].mean()) 
df.head(7) # Display the first 3 rows of the DataFrame with updated Sales column

         Date Category  Value   Product  Sales Region  Sales_o
0  2023-01-01        A   28.0  Product1  754.0   East    754.0
1  2023-01-02        B   39.0  Product3  110.0  North    110.0
2  2023-01-03        C   32.0  Product2  398.0   East    398.0
3  2023-01-04        B    8.0  Product1  522.0   East    522.0
4  2023-01-05        B   26.0  Product3  869.0  North    869.0
5  2023-01-06        B   54.0  Product3  192.0   West    192.0
6  2023-01-07        A   16.0  Product1  936.0   East    936.0

In [10]:
import pandas as pd
k=pd.read_csv('sales_data.csv')
k.isnull().sum()

Transaction ID      0
Date                0
Product Category    0
Product Name        0
Units Sold          0
Unit Price          0
Total Revenue       0
Region              0
Payment Method      0
dtype: int64

In [11]:
df.isnull().sum()  # Check for missing values in the DataFrame

Date        0
Category    0
Value       3
Product     0
Sales       4
Region      0
Sales_o     0
dtype: int64